.backgroundAnchor{
    -fx-background-color: linear-gradient(to left top, #61D8DE, #E839F6);
    -fx-background-radius: 10;
}
.closePane{
    -fx-background-color: linear-gradient(to left top, #08203e, #557c93);
    -fx-background-radius: 10;
}
.menuBTN{
    -fx-background-color: linear-gradient(to left top, #61D8DE, #E839F6);
}